.list{
    width:33.3%;
    float:left;
    margin-top: 80px;
}

#listbutton{
    position: relative;
    margin-top: 50px;
    font-family: "Times New Roman";
    font-size: 16px;
    font-weight: bold;

    width: 300px;
    height: 350px;
    background-color: #a3bac0;
    border-radius: 10px;
    text-align: left;

}
#listbutton:active,
#listbutton:hover{
    background-color: #c7c4bb;
}

.caregiver-expand {
    display: none;
    background-color: transparent;
    width: 100%;
    float: bottom;
    text-align: center;
    padding: 10px;
}


.caregiver-expand-right {
    /*display: none;*/
    background-color: transparent;
    width: 43%;
    height:272px;
    float:right;
    /*padding: 10px;*/
}
.caregiver-expand-left {
    /*display: none;*/
    background-color: transparent;
    width: 57%;
    text-align:right;
    float:left;
    /*padding: 10px;*/
}

.caregiver-expand.show {
    display: block;
}

.Caregivers.text{
    font-size: 12px;
}

.list_style{
    width:100%;

    float:left;

}

.back_style{
    width:100%;

}

.filter_style{
    width: 18%;
    height: 900px;
    /*float: right;*/
    background: greenyellow;
}
.filter_form_style{

    float: right;
    text-align: left;
}
.small_textframe{
    width:70px;
    height:30px;
}

.addCaregiver{
    position: relative;
    margin-top: 150px;
}

/**{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #666;
}
a:hover{
  color:#f10215!important;
}
body{
  font-size: 12px;
  background-color: #f0f3ef;
}

.toolbars{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 6px;
  background-color: #7a6e6e;
}
.toolbars ul{
  position:absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-40%);
  z-index: 3;
}
.toolbars ul li{
  width: 34px;
  height: 35px;
  margin-bottom: 2px;
  background-color: #7A6E6E;
  position: relative;
}
.toolbars ul .jdvip .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}
.toolbars ul .cart .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}
.toolbars ul .follow .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}
.toolbars ul .message .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}
.toolbars ul .jimi .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}
.toolbars ul .feedback .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}
.toolbars ul .jdvip i{
  position: absolute;
  top: 5px;
  right: 8px;
  width: 6px;
  height: 6px;
}
.toolbars-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #7A6E6E;
  width: 34px;
  height: 35px;
  z-index: 3;
}
.toolbars-footer .toolbars-ico{
  display: block;
  width: 34px;
  height: 35px;

}

.toolbars .flex{
  position: absolute;
  top: 0;
  right: 34px;
  width: 0;
  overflow: hidden;
  height: 35px;
  line-height: 35px;
  background-color: #b61d1d;
  text-align: center;
  color: #fff;
  z-index: -1;
  transition: width .3s;
}

.toolbars ul li:hover{
  background-color: #b61d1d;
}
.toolbars ul li:hover .flex{
  width: 62px;
  background-color: #b61d1d;
}
.toolbars ul li:hover i{
  display: none;
}
.toolbars-footer:hover{
  background-color: #b61d1d;
}
.toolbars-footer:hover .flex{
  width: 62px;
  background-color: #b61d1d;
}
*/

.info
{
    width:60%;
    background: #aaaaab;
    margin : auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px;
    font-family: fantasy;
    color:rgba(0,0,0,0.97);
    display: inline;
    position: center;
}
#txt
{
    display: inline-block;
    margin: 20px;
    font-weight: bold;

}

/*#list_front{
    position: relative;
    margin-left: -75%;
}
*/
#join_button{
    position: absolute;

    margin-left: 85%;

    background-color: transparent;
}

#join_us{
    background-color: transparent;
    font-size: large;
    text-decoration: underline;
}

.filter_style{
    background-color: transparent;
}

#filter_place{
    position: relative;
    /*margin-left: 50%;*/
}

.update_input{
    text-align: center;
    color: #e8f5e9;
}

.label_input{
    /*margin-left: -650px;*/
    text-align: center;
    float:left;
    margin-left: 40px;
    color: #e8f5e9;
}
.title_input{
    /*margin-left:-850px;*/

    font-size: 30px;
    font-family: fantasy;
    color: #86ab89;


}
#search_botton_style{
    font-size: 12px;
    background-color: #99abab;
}

#careGiverList{
    margin-top: -50px;
}

.image_block{
    position: relative;
    width: 33.3%;
    margin-top: 150px;
    float:left;
    padding: 10px 10px;
    color: #c6e3e6;

    border-radius: 10px;
}
.caregiver_infor_style{
    position: relative;
    width:33.3%;
    margin-top: 80px;
    float: left;
    margin-left: -20%;
    padding: 10px 10px;
    color: #c6e3e6;
    border: 5px solid #d2cfcf;
    border-radius: 10px;
}

.image_area{
    border: 2px solid #d2cfcf;
    position: relative;
    margin-left: 35%;
    width: 30%;
    height: 150px;
}

#info_format{
    margin-top: 10%;
}

.sendReq{
    margin-top: 2%;
    border-radius: 2px;
    border: transparent;
    font-weight: bold;
    font-size: 15px;
    color: #669260;
    background-color: #c1f3b9;
}

#req_left{
    float: left;
}

#req_right{
    float: right;
}



