/*.h1_form{
  float:top;
  height: 7000px;
}*/

.blank{
    margin-top: 20%;
    margin-left: 20%;
    width: 60%;
    position: center;
    /*background-color: #cbd4e6;*/
    background-color: transparent;
    color: #e8f5e9;
    border-radius: 10px;
    height:500px;

    font-family: "Times New Roman";
    font-size: 30px;

}

h6{
    font-size: 30px;
}


.credit_form{
    float: top;
}

#inform{
    width: 50%;
    background-color: white;
}
#content{
    position: relative;
    width: 70%;
    margin-left: 10%;
    font-size: 150%;
}

#title{
    font-size: 200%;
    font-family:"Times New Roman" ;
}

#hp{
    margin-left: 0%;
    width: 50%;
    background-color: white;
}

.block_h{
    height: 200%;
    background-color: white;
    display: flex;
}

.white_line{
    width: 100%;
    height: 10%;
    background-color: white;
}

.logo_block{
    position: relative;
    width: 10%;
    float: left;
    max-height: 2px;
    max-width: 2px;

}