/*#history_list{
    position: relative;
    float: left;
    margin-left: 5px;
    width: 20%;
    height: 300px;
}*/

.list_left{
    position: relative;
    float: left;
;
    width: 68%;

    height: 700px;
    background: transparent;

    border-radius: 10px;

    padding: 20px 50px;
}

.list_right{
    position: relative;
    margin-top: 2%;

    float: left;
    width: 28%;
    height: 700px;
}

#receive_req,
#history_list{

    position: relative;
    height: 350px;
}

#history_list{
    margin-top: 5%;
 }



#order_list_title,
#history_list_title{
    position: relative;
    padding: 20px 50px;
    font-size: 40px;
    font-family: Arial;
    color: white;
}

#receive_list_title{
    position: relative;
    padding: 20px 0px;
    font-size: 30px;
    font-family: Arial;
    color: white;
}


#together_block{
    position: relative;
    margin-top: 10%;

}

#history_list,
#order_list,
#receive_req{
    border-radius: 10px;

    background-color: rgba(255,255,255,0.5);
}

#ordered_user{
    text-align: center;
    height: 700px;
    background-color: transparent;
}
#order_button{
    border-radius: 10px;
    background-color: #c7bfa6;
    font-size: 30px;
    font-style: normal;
    font-family: "Times New Roman";
    color: white;


}

#order_button:active,
#order_button:hover,
#order_button:focus{
    background-color: #c7c3b5;

}
