#history_list{
    position: relative;
    float: left;
    margin-left: 5px;
    width: 20%;
    height: 300px;
}

#order_list{
    position: relative;
    float: left;
    margin-left: 19%;
    width: 300px;

    height: 450px;
    background: transparent;

    border-radius: 10px;

    padding: 20px 50px;
}

#receive_req{
    position: relative;
    float: right;
    width: 20%;
    margin-right: 5px;
}

#order_list_title{
    font-size: 30px;
    font-family: fantasy;
    color: white;
}


#together_block{
    position: relative;
    margin-top: 10%;
}

#history_list,
#order_list,
#receive_req{
    border-radius: 10px;

    background-color: rgba(255,255,255,0.5);
}

#order_button{
    text-align: center;
}
#ordered_user{
    border-radius: 10px;
    background-color: #c7bfa6;
    font-size: 30px;
    font-style: normal;
    font-family: "Times New Roman";
    color: white;


}

#ordered_user:active,
#ordered_user:hover,
#ordered_user:focus{
    background-color: #c7c3b5;

}
