.navbar{
    width :5%;
    height:50px;
    position: absolute;
    list-style: none;
    background: transparent;
    box-shadow: 0 -2px 2px #000;
    margin-top: 300px;

}
.navbar ul{
    list-style: none;

}

.navbar ul li{
    float:left;
    width:100%;
    height:50px;
    background: #222;
    margin-right: 1px;
    font-size: 15px;
}

#userbt{
    margin-left: -50%;
}
.navbar ul li:hover{
    color:#fff;
    background: linear-gradient(to right, #19c3cb 0%, #7397da 0%, #92bbda 0%, #86c5cf 70%);
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar ul li ul li{
    display: none;
    width: 220px;
    height:1000px;
    float: initial;
    background: rgba(1, 163,164,1);
    font-size: 10px;
    transition: 0.3s;
}
.navbar ul li:hover ul li{
    display: block; height:50px;
    border-top: 1px solid rgba(72, 219, 251, 0.5)；}