#htwo{
    margin-top: 100px;
    margin-bottom: 0;
    display: inline;
}

#tryy {
    position: relative;
    color: #e64a19;
}


.user-expand {
    display: none;
    background-color: transparent;


}

.user-expand.show {
    display: block;
}

#reset{
    margin-left: 1200px;
    color: #cbd4e6;
}

#reset:hover,
#reset:active,
#reset.focus {
    background-color: #9ec5c4;
}

.posts{
    height: 500px;
}

#reset_box{
    position: relative;
    margin-top: 0;
    height: 180px;
}
#reset_but{
    margin-top: 5%;
}