#htwo{
    margin-top: 100px;
    margin-bottom: 0;
}

#tryy {
    position: relative;
    color: #d5e1e6;
}


.user-expand {
    display: none;
    background-color: transparent;


}

.user-expand.show {
    display: block;
}

#reset{
    position: relative;
    margin-left: 1200px;
    color: #cbd4e6;
}



.posts{
    height: 500px;
}

#reset_box{
    position: relative;
    margin-top: 0;
    height: 180px;
}
#reset_but{
    margin-top: 5%;
}
#reset_info{
    text-align: right;
}